*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* background-color: gray; */
}
.Header{
    text-align: center;
    padding:10px;
    color:aqua;
    text-decoration: underline;
}
.content{
    text-align: center;
    text-decoration: underline;
    padding:15px;
    color:green;
}