*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* background-color: gray; */
}
.Header{
    text-align: center;
    padding:10px;
    color:aqua;
    text-decoration: underline;
}
.content{
    text-align: center;
    text-decoration: underline;
    padding:15px;
    color:green;
}

.textDisplay{
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center ;
}
.textDisplay p{
    border:1px solid red;
    background-color:#1D7874;
    color:white;
    border: none;
    border-radius: 4px;
    margin:4px;
    width:335px;
    height:auto;
}
.textDisplay textarea{
    background-color: #1D7874;
    color:white;
    padding:10px;
    border:none;
    border-radius: 5px;
    margin:4px;
    padding:10px;
}
.contentSecWithoutBtn{
    padding:20px;
     
}