*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-align: center;
}
h2{
    padding:15px;
    font-size: 20px;
    color:green;
}

button{
    padding:10px 20px;
    border:none;
    border-radius: 10px;
    background-color: green;
    color:white;
}
p{
    border:1px solid red;
    margin:10px;
    padding:10px;
}
nav{
    background-color: rgba(0, 0, 0, 0.2);
}
.borderBottom{
    border-bottom:1px solid rgba(6, 88, 88, 0.589)
}